extends ../../layouts/default.pug
block main
  h1(class="mb-4") #{pageTitle}
  form(
      action=`/${prefixAdmin}/topics/edit/${topic.id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tên chủ đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          value=topic.title
          readonly
        )
      div(
        class="form-group"
        upload-image
      )
        label(for="avatar") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="avatar"
          name="avatar"
          accept="image/*"
          upload-image-input
          disabled
        )
        img(
          src=topic.avatar
          class="image-preview"
          upload-image-preview
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          type="text"
          class="form-control"
          id="desc"
          name="description"
          rows="5"
          textarea-mce
          readonly
        ) #{topic.description}
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked=(topic.status == "active" ? true : false)
          disabled
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked=(topic.status == "inactive" ? true : false)
          disabled
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
