mixin box-item(song="",favorite, singer="")
    .col-12
        .box-items__category
            .mb-3
                .box-item__category 
                    .box-item__category--title
                        div(class="box-item__category--title--btnPlay" onClick=(users&&users.type_user=="premium")||(song.type_song=="free")?`handlePlayAudio(event, ${JSON.stringify(song)}, ${JSON.stringify(singer)})`:`handleCheckPremium(event,${JSON.stringify(users)})`)
                            <i class="fa-solid fa-play"></i>
                        img(src=song.avatar, alt="Ảnh bài hát")
                        .box-item__category--title-main 
                            a(href=`/songs/detail/${song.slug}`) #{song.title}
                        div(class=`inner-premium ${song.type_song=="premium" ? "active" : ""}`) Premium
                    .box-item__category--singer #{singer}
                    .box-item__category--buttons 
                        div(class="inner-action inner-heart " +(favorite ? "active":"")
                            button-favorite=song.id user-id=(users && users.id ? users.id : ""))
                            //- <i class="fa-regular fa-heart"></i>
                            <i class="fa-solid fa-heart"></i>

                        .inner-time #{time}
