mixin box-song-playlist(song="", singer="", playlist="")
    div(class="col-12" song-id-main=song._id songImg=song.avatar playlistId=playlist._id)    
        div(class="box-items__category" song=song singer=singer)
            .mb-3
                .box-item__category 
                    .box-item__category--title
                        div(class="box-item__category--title-btn-delete" onClick=`handleDisplayButtonDelete(event)`)
                            <i class="fa-solid fa-bars-progress"></i>
                        div(class="box-item__category--title--btnPlay" onClick=`handlePlayAudio(event, ${JSON.stringify(song)}, ${JSON.stringify(singer)})`)
                            <i class="fa-solid fa-play"></i>
                        img(src=song.avatar, alt="Ảnh bài hát")
                        .box-item__category--title-main #{song.title}
                            //- #{song.title}
                    .box-item__category--singer #{singer}
                    .box-item__category--buttons 
                        .inner-heart <i class="fa-regular fa-heart"></i>
                        .inner-time #{time}
                        div(class="inner-icon-trash" onClick=`handleDeleteSongPlaylist('${song._id}', '${playlist._id}')`)
                            <i class="fa-solid fa-trash-can"></i>
mixin box-song-suggest-playlist(song="", singer="", playlist="")
    .col-12
        .box-items__category
            .mb-3
                .box-item__category 
                    .box-item__category--title
                        <i class="fa-solid fa-music"></i>
                        div(class="box-item__category--title--btnPlay" onClick=`handlePlayAudio(event, ${JSON.stringify(song)}, ${JSON.stringify(singer)})`)
                            <i class="fa-solid fa-play"></i>
                        img(src=song.avatar, alt="Ảnh bài hát")
                        .box-item__category--title-main #{song.title}
                    .box-item__category--singer #{singer}
                    .box-item__category--buttons 
                        .inner-heart <i class="fa-regular fa-heart"></i>
                        .inner-time #{time}
                        div(class="inner-icon-add" onClick=`handleAddSong(${JSON.stringify(playlist._id)}, '/playlist/addSong/${song._id}' )`)
                            <i class="fa-solid fa-plus"></i>

