extends ../../layouts/default.pug

block main 
    .row
        .col-12
            div(class="listmusic" play-list)
                .playlist__header
                    .playlist__header--title Playlist 
                    //- .playlist__header--icon <i class="fa-solid fa-ellipsis"></i>
                .playlist__content 
                    .create-playlist-new
                        div(class="create-btn-playlist" onclick="handleCreatePlaylist()")
                            <i class="fa-solid fa-plus"></i>
                        .create-playlist-new--title Tạo playlist mới
                    each playlist in playlists           
                        div(class="playlist-old--title" playlistId=playlist._id)
                            a(href=`/playlist/detail/${playlist.slug}`)
                                div(class="playlist-old--title__img")
                                    img(src="/images/img-playlist.png", alt="")                                                                   
                                div(class="playlist-old-name-playlist" slug=playlist.slug) #{playlist.title}  
                                .playlist-old-name-creater  #{userName}
                            div(class="playlist-old--title__icons") 
                                    //- div(class="playlist-old--title__icon playlist-old--title__icon--play" onclick=`handleClickPlay(event,${JSON.stringify(playlist)})`) <i class="fa-solid fa-play"></i>
                                    div(class="playlist-old--title__icon playlist-old--title__icon--other" playlistId=playlist._id onClick=`playlistClickOther('${playlist._id}')`) <i class="fa-solid fa-ellipsis"></i>